body{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
button{
border:none;
border-radius: 4px;
font-size:15px;
text-align: center;
color:white;
margin:2px;
font-family: Helvetica;
}
.number{
    width:25px;
    background-color: #333333;
}

.clear, .clear2{
    color:black;
    background-color: #a5a5a5;
}
#percent{
    color:black;
    background-color: #a5a5a5;
}
#divide, #multiply, #equal, #add, #subtract{
    background-color:#f1a33c;
    text-align: center;
    width:24px;

}
#add{
    margin-left:2px;
}
#equal{
    width:55px;
}
.container{
    background-color: black;
    border:4px solid black;
    border-radius: 3px;
    display: grid;
    gap:2px;
}
#show{
    color:white;
    font-size:15px;
    position: relative;
    top:13px;

}